﻿@model ACME.Models.PTOViewModel

@{
    ViewBag.Title = "Personal Time Off Request";
}
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

@*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="well bs-component col-md-6 col-md-offset-2 shadow">
            <h2>Personal Time Off Request Form</h2>
            <hr />



            <!------------------Start of Step 1 Employee information---------------------------------------------------------------------->
            <div class="wizard-step">

              

              
                <div class="progress progress-striped active shadow">
                    <div class="progress-bar" style="width: 25%"> 25%</div>
                </div>

                <h3> <span class="label label-primary shadow"> Step:1 Employee Information</span></h3>
               
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SupervisorName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <!------------------End of Step 1 Employee information---------------------------------------------------------------------->
            
            
            
            <!------------------Start of Step:2 Personal Time Off Details---------------------------------------------------------------------->
            <div class="wizard-step">
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="progress progress-striped active shadow">
                    <div class="progress-bar" style="width: 75%"> 75%</div>
                </div>

                 <h3> <span class="label label-primary shadow">Step:2 Personal Time Off Details </span></h3>

               <div class="row"></div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PTOStartDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.DatePickerFor(m => m.PTOStartDate, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                        @Html.ValidationMessageFor(model => model.PTOStartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PTOEndDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.DatePickerFor(m => m.PTOEndDate, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                        @Html.ValidationMessageFor(model => model.PTOEndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PTOType, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EnumDropDownListFor(model => model.PTOType, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PTOType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <!------------------End of Step:2 Personal Time Off Details---------------------------------------------------------------------->
            
            

            <div class="wizard-nav">
                <ul class="pager">
                    <li><input type="button" class="btn btn-primary" id="wizard-prev" value="Previous" />  </li>
                    <li><input type="button" class="btn btn-primary" id="wizard-next" value="Next" />        </li>
                    <li><input type="button" class="col-md-3 col-md-offset-9 col btn btn-default " id="wizard-submit" value="Submit" /></li>
                </ul>
                

            </div>



        </div>
    </div>



<!----------------------------------------End of Form Code---------------------------------------------------------->
}



<div class="clearfix"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/SimpleWizardForm.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
}
