﻿@model ACME.Models.PTOViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var Firstname ="FirstName"; 
    var TypeDays = "TypeDays"; 
    var SuperviserName = "SuperviserName";
    var numberOfDays = "0";
    
    
    if (TempData["FirstName"] != null && TempData["TypeDays"] != null && TempData["SuperviserName"] != null && TempData["NumberOfDays"] != null)
        {

            Firstname = TempData["FirstName"].ToString();
            TypeDays = TempData["TypeDays"].ToString();
            SuperviserName = TempData["SuperviserName"].ToString();
            numberOfDays = TempData["NumberOfDays"].ToString(); 
        }


    }




<div class="form-horizontal">
    <div class="well bs-component col-md-6 col-md-offset-2 shadow">
        <h2>Personal Time Off Request Form</h2>
        <hr />



        <div class="wizard-step wizard-confirmation">

            <div class="progress progress-striped active shadow">
                <div class="progress-bar" style="width: 100%"> Done </div>
            </div>

            <h3> <span class="label label-primary shadow">Step 3: PTO Request Confirmation </span></h3>


            <p>
              @Firstname, your request for
              @numberOfDays   
              @TypeDays days has been received and has been forwarded to
              @SuperviserName for approval. 
            </p>
           


           


        </div>

  </div>
</div>


